.btn-postuler {
  background: #7fcc72;
  border: none;
  padding: 10px 15px;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.form-postulation {
  background: #f8f8f8;
  margin-top: 15px;
  padding: 20px;
  border-radius: 10px;
}

.form-postulation input,
.form-postulation textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}
